In [1]:
# Artificial Neural Network

# Installing Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Installing Tensorflow
# pip install tensorflow

# Installing Keras
# pip install --upgrade keras

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [3]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [10]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
print(X_train.shape,y_train.shape)

(8000, 10) (8000,)

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#Perceptron

In [15]:
import numpy as np
from sklearn.linear_model import Perceptron
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [16]:
clf = Perceptron()
clf.fit(X_train,y_train)

y_pred = clf.predict(X_train)

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print("confusion_matrix: \n",confusion_matrix(y_train,y_pred))
print("classification_report: \n",classification_report(y_train,y_pred))

confusion_matrix:
 [[4286 2082]
 [ 757  875]]
classification_report:
               precision    recall  f1-score   support

           0       0.85      0.67      0.75      6368
           1       0.30      0.54      0.38      1632

    accuracy                           0.65      8000
   macro avg       0.57      0.60      0.57      8000
weighted avg       0.74      0.65      0.68      8000

#MLPClassifier

In [18]:
from sklearn.neural_network import MLPClassifier

clfmp = MLPClassifier()
clfmp.fit(X_train,y_train)

y_pred = clfmp.predict(X_train)

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print("confusion_matrix: \n",confusion_matrix(y_train,y_pred))
print("classification_report: \n",classification_report(y_train,y_pred))

confusion_matrix:
 [[6205  163]
 [ 811  821]]
classification_report:
               precision    recall  f1-score   support

           0       0.88      0.97      0.93      6368
           1       0.83      0.50      0.63      1632

    accuracy                           0.88      8000
   macro avg       0.86      0.74      0.78      8000
weighted avg       0.87      0.88      0.87      8000