In [99]:
# Artificial Neural Network

# Installing Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Installing Tensorflow
# pip install tensorflow

# Installing Keras
# pip install --upgrade keras

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [100]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [101]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [102]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [103]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [104]:
X[0:5]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [105]:
X.shape

(10000, 10)

In [106]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [107]:
X.shape

(10000, 10)

In [108]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [109]:
print(X_train.shape,y_train.shape)

(8000, 10) (8000,)

In [110]:
X_train[0:5]

array([[667, 2, 0, 34, 5, 0.0, 2, 1, 0, 163830.64],
       [427, 1, 1, 42, 1, 75681.52, 1, 1, 1, 57098.0],
       [535, 0, 0, 29, 2, 112367.34, 1, 1, 0, 185630.76],
       [654, 2, 1, 40, 5, 105683.63, 1, 1, 0, 173617.09],
       [850, 2, 0, 57, 8, 126776.3, 2, 1, 1, 132298.49]], dtype=object)

In [112]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [113]:
print(X_train.shape,X_test.shape)

(8000, 10) (2000, 10)

In [114]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4909 - accuracy: 0.7956
Epoch 2/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4303 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4236 - accuracy: 0.8142
Epoch 4/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.8311
Epoch 5/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4143 - accuracy: 0.8329
Epoch 6/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8332
Epoch 7/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4090 - accuracy: 0.8340
Epoch 8/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4075 - accuracy: 0.8324
Epoch 9/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4064 - accuracy: 0.8338
Epoch 10/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4051 - accuracy: 0.8340
Epoch 11/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4043 - accuracy: 0.8324
Epoch 12/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8331
Epoch 13/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4030 - accuracy: 0.8338
Epoch 14/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4026 - accuracy: 0.8342
Epoch 15/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8330
Epoch 16/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8324
Epoch 17/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8335
Epoch 18/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8325
Epoch 19/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4013 - accuracy: 0.8332
Epoch 20/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8325
Epoch 21/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4005 - accuracy: 0.8338
Epoch 22/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8344
Epoch 23/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3994 - accuracy: 0.8320
Epoch 24/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3985 - accuracy: 0.8335
Epoch 25/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3976 - accuracy: 0.8339
Epoch 26/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3978 - accuracy: 0.8335
Epoch 27/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3970 - accuracy: 0.8356
Epoch 28/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3965 - accuracy: 0.8345
Epoch 29/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3963 - accuracy: 0.8353
Epoch 30/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3960 - accuracy: 0.8355
Epoch 31/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3962 - accuracy: 0.8359
Epoch 32/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3955 - accuracy: 0.8342
Epoch 33/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3948 - accuracy: 0.8366
Epoch 34/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3950 - accuracy: 0.8364
Epoch 35/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3952 - accuracy: 0.8361
Epoch 36/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3946 - accuracy: 0.8359
Epoch 37/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3937 - accuracy: 0.8361
Epoch 38/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3936 - accuracy: 0.8370
Epoch 39/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3936 - accuracy: 0.8371
Epoch 40/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3932 - accuracy: 0.8360
Epoch 41/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3930 - accuracy: 0.8350
Epoch 42/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3916 - accuracy: 0.8370
Epoch 43/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3922 - accuracy: 0.8361
Epoch 44/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3915 - accuracy: 0.8385
Epoch 45/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3904 - accuracy: 0.8384
Epoch 46/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3906 - accuracy: 0.8411
Epoch 47/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3889 - accuracy: 0.8393
Epoch 48/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3878 - accuracy: 0.8403
Epoch 49/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3873 - accuracy: 0.8404
Epoch 50/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3853 - accuracy: 0.8418
Epoch 51/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3845 - accuracy: 0.8404
Epoch 52/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3833 - accuracy: 0.8405
Epoch 53/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3823 - accuracy: 0.8426
Epoch 54/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3811 - accuracy: 0.8436
Epoch 55/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3800 - accuracy: 0.8414
Epoch 56/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3785 - accuracy: 0.8440
Epoch 57/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3781 - accuracy: 0.8425
Epoch 58/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3773 - accuracy: 0.8444
Epoch 59/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3757 - accuracy: 0.8425
Epoch 60/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3735 - accuracy: 0.8444
Epoch 61/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3721 - accuracy: 0.8455
Epoch 62/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3698 - accuracy: 0.8457
Epoch 63/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3684 - accuracy: 0.8466
Epoch 64/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3664 - accuracy: 0.8475
Epoch 65/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3628 - accuracy: 0.8505
Epoch 66/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3623 - accuracy: 0.8484
Epoch 67/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3600 - accuracy: 0.8484
Epoch 68/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3593 - accuracy: 0.8499
Epoch 69/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3576 - accuracy: 0.8520
Epoch 70/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3561 - accuracy: 0.8511
Epoch 71/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3564 - accuracy: 0.8508
Epoch 72/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3559 - accuracy: 0.8511
Epoch 73/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3538 - accuracy: 0.8505
Epoch 74/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3537 - accuracy: 0.8533
Epoch 75/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3543 - accuracy: 0.8529
Epoch 76/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3526 - accuracy: 0.8555
Epoch 77/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3521 - accuracy: 0.8570
Epoch 78/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3523 - accuracy: 0.8565
Epoch 79/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3509 - accuracy: 0.8571
Epoch 80/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3507 - accuracy: 0.8565
Epoch 81/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3519 - accuracy: 0.8579
Epoch 82/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3509 - accuracy: 0.8556
Epoch 83/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3511 - accuracy: 0.8568
Epoch 84/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3499 - accuracy: 0.8574
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3494 - accuracy: 0.8586
Epoch 86/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3497 - accuracy: 0.8569
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3498 - accuracy: 0.8569
Epoch 88/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3486 - accuracy: 0.8577
Epoch 89/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3490 - accuracy: 0.8587
Epoch 90/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3487 - accuracy: 0.8581
Epoch 91/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3481 - accuracy: 0.8575
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3491 - accuracy: 0.8553
Epoch 93/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3475 - accuracy: 0.8587
Epoch 94/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3477 - accuracy: 0.8583
Epoch 95/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3467 - accuracy: 0.8599
Epoch 96/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3472 - accuracy: 0.8574
Epoch 97/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3467 - accuracy: 0.8587
Epoch 98/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3459 - accuracy: 0.8589
Epoch 99/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3464 - accuracy: 0.8596
Epoch 100/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3460 - accuracy: 0.8585

In [115]:
import warnings
warnings.filterwarnings("ignore")

# Part 3 - Making predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix \n")
print(cm)
print("\n")
# classification report for precision, recall f1-score and accuracy
from sklearn.metrics import classification_report
matrix = classification_report(y_test,y_pred)
print('Classification report : \n',matrix)

Confusion Matrix

[[1543   52]
 [ 217  188]]


Classification report :
               precision    recall  f1-score   support

           0       0.88      0.97      0.92      1595
           1       0.78      0.46      0.58       405

    accuracy                           0.87      2000
   macro avg       0.83      0.72      0.75      2000
weighted avg       0.86      0.87      0.85      2000